@model RegisterVM

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Register</span></h5>
            <form class="bg-light p-30 mb-5" method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="Surname">Surname</label>
                        <input asp-for="Surname" class="form-control" placeholder="Surname">
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="UserName">UserName</label>
                        <input asp-for="UserName" class="form-control" placeholder="UserName">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="RepeatPassword"></label>
                        <input asp-for="RepeatPassword" class="form-control" placeholder="Repeat Password">
                        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (ViewBag.ConfirmModal is not null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            icon: "success",
            title: "Please, confirm your account!",
            text: "We sent a confirm link, check your email :)"

        });

    </script>
}

