@model Slide
<div class="row justify-content-center">
        <h1><b class="text-danger">#@Model.Id</b>  @Model.Name</h1>
        <img style="border-radius:4px;max-width:800px;max-height:220px;margin-bottom:10px" src="~/uploads/slide/@Model.ImageUrl" />
        <h4 style="text-align:center;font-style:italic;">Created at @(Model.CreatedAt)</h4>
        @if (Model.LastUpdatedAt is not null)
        {
            <h4 style="text-align:center;font-style:italic;">Updated at @(Model.LastUpdatedAt)</h4>
        }

 
</div>
