@model CheckoutVM
@{
    decimal total = 0;
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" asp-controller="home" asp-action="index">Home</a>
                <a class="breadcrumb-item text-dark" asp-controller="shop" asp-action="index">Shop</a>
                <span class="breadcrumb-item active">Checkout</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <div class="mb-5">
                            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                            <form class="bg-light p-30" method="post">
                                <label asp-for="Address"></label>
                                <input asp-for="Address" class="form-control" placeholder="123 Street...">
                                <span asp-validation-for="Address" class="text-danger"></span>
                                <button class="btn btn-block btn-primary font-weight-bold py-3 mt-5">Place Order</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    @foreach (CheckoutItemVM checkoutItem in Model.CheckoutItems)
                    {
                        total += checkoutItem.Subtotal;
                        <div class="d-flex justify-content-between">
                            <p>@checkoutItem.ProductName</p>
                            <p>$@checkoutItem.Subtotal</p>
                        </div>
                        
                    }
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>$@total</h5>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Checkout End -->